<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ docTitle }}</title>
    <link rel="stylesheet" href="style/main.css" />
    {{#if formStyle}}
        <link rel="stylesheet" href="style/messageInput.css" />
    {{/if}}
    {{#if tableStyle}}
        <link rel="stylesheet" href="style/table.css" />
    {{/if}}
  </head>
  <body>
    <header class="main-header">
      <nav>
        <ul class="navbar">
          <li class="navbar-item"><a class="{{#if activeHome}}active{{/if}}" href="/">Home</a></li>
          <li class="navbar-item"><a class="{{#if activeLog}}active{{/if}}" href="/messages">View Messages</a></li>
          <li class="navbar-item">
            <a class="{{#if activeForm}}active{{/if}}" href="/send-message">Send a Message</a>
          </li>
        </ul>
      </nav>
    </header>
    {{{body}}}
  </body>
</html>
