<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="style/main.css")
        block styles
    body
        header.main-header
            nav
                ul.navbar
                    li.navbar-item
                        a(href="/", class=(path === '/' ? 'active' : '')) Home
                    li.navbar-item
                        a(href="/messages", class=(path === '/messages' ? 'active' : '')) View Messages
                    li.navbar-item
                        a(href="/send-message", class=(path === '/send-message' ? 'active' : '')) Send a Message
        block content