body {
  padding: 0;
  margin: 0;
  background-color: #230f23;
  color: #fff5e8;
  font-family: sans-serif;
  font-size: 16px;
}
nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #6a0404;
}
.navbar {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.navbar-item {
  margin: 0 0.7rem;
  padding: 0;
}
.navbar-item a {
  color: #fff5e8;
  text-decoration: none;
}
.navbar-item a:hover,
.navbar-item a:active,
.navbar-item a:focus {
  color: #e8b68b;
}
h1 {
  padding: 0.5em;
  margin: auto;
  text-align: center;
}
