<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="style/messageInput.css" />
  </head>
  <body>
    <%- include('includes/nav.ejs') %>
    <main>
      <h1>Message Creation Zone</h1>
      <form action="/send-message" method="POST">
        <div class="form-control">
          <label for="message">Message</label>
          <input type="text" name="message" id="message" />
        </div>
        <button type="submit">
          Submit
        </button>
      </form>
    </main>
    <%- include('includes/end.ejs') %>
