<%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/nav.ejs') %>
    <main>
      <h1>Server Message Zone</h1>
      <p>
        This portal allows you to send and view messages left on the server.
      </p>
    </main>
    <%- include('includes/end.ejs') %>