extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="style/table.css")

block content
    main
        h1 Message Logs
        if messageList.length > 0
            table
                tr
                    th File
                    th Time
                    th Message
                each entry in messageList
                    tr
                        td #{entry.title}
                        td #{entry.time}
                        td #{entry.message}
        else
            p The log is currently empty