extends layouts/main-layout.pug

block styles
    link(rel='stylesheet', href='list.css')

block content
    main
        h1 List of Users
        if userListLength === 1
            h2 There is 1 user.
            ul
                each user in userList
                    li #{user}
        if userListLength === 0
            p There are no users yet.
        if userListLength > 1
            h2 There are #{userListLength} users.
            ul
                each user in userList
                    li #{user}