<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <h1>Welcome to the Cart</h1>
    <a href='/checkout' class="btn">Checkout</a>

<%- include('../includes/end.ejs') %>