<main>
    <h1>Message Logs</h1>
    {{#if messagesHere }}
    <table>
        <tr>
            <th>File</th>
            <th>Time</th>
            <th>Message</th>
        </tr>
        {{#each messageList}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.time}}</td>
            <td>{{this.message}}</td>

        </tr>
        {{/each}}
    </table>

    {{ else }}
        <p>The log is currently empty</p>
    {{/if}}
</main>
